Repository DSD-DBS/capella-trainer: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, prettier

tsc:
  name: tsc
  entry: tsc -noEmit -p ./frontend
  pass_filenames: false
  language: node
  additional_dependencies:
  - typescript@^5.7.2

prettier:
  name: prettier
  entry: prettier --write
  language: node
  additional_dependencies:
  - prettier-plugin-tailwindcss@^0.6.9
  - prettier@^3.4.2
  - tailwindcss@^3.4.16

fix: Fix some values in pyproject.toml
  .commitlintrc.yml
  .github/workflows/commit-check.yml
  .github/workflows/lint.yml
  .prettierrc.yaml
  Makefile
  frontend/.prettierrc.cjs
  pyproject.toml
Due: none

chore: Update pre-commit hooks
  .pre-commit-config.yaml
Due: none

docs: Add integration instructions for CCM
  README.md
Due: prettier

fix: Change CCM config to request less resources
  README.md
Due: prettier

feat: Add communication with CCM for fullscreen
  frontend/src/lib/const.ts
  frontend/src/routes/lesson.tsx
Due: tsc, prettier

fix: Force lower esbuild version to fix build
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: Fix a permissions issue on Windows
  Dockerfile
Due: none

fix: Make sure users focus Capella
  frontend/src/components/focus-iframe.tsx
  frontend/src/routes/lesson.tsx
Due: prettier

chore: Add physical link icon
  AUTHORING.md
  frontend/assets/capella-icons/physical-link.png
  frontend/src/components/markdown/caicon.tsx
Due: prettier

fix: Update config to new format
  README.md
Due: prettier

feat: Use session API token for CCM backend communication
  Dockerfile
  README.md
  capella_trainer/constants.py
Due: prettier

feat: Add /metrics endpoint with idletime
  .pre-commit-config.yaml
  capella_trainer/__init__.py
  pyproject.toml
Due: none

chore: Update packages
  .pre-commit-config.yaml
  capella_trainer/constants.py
  frontend/package.json
  frontend/pnpm-lock.yaml
Due: none

fix: Don't prompt retry when quiz is solved
  frontend/src/components/quiz.tsx
Due: prettier

feat: Move from react router to tanstack router
  .pre-commit-config.yaml
  .prettierignore
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/layout.tsx
  frontend/src/components/navigation.tsx
  frontend/src/main.tsx
  frontend/src/routeTree.gen.ts
  frontend/src/routeTree.gen.ts.license
  frontend/src/routes/__root.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/lesson/$.tsx
  frontend/vite.config.ts
Due: tsc, prettier

docs: Update metrics endpoints for CCM
  README.md
Due: prettier

fix: Alway scroll to top for Markdown content
  frontend/src/components/content.tsx
  frontend/src/components/ui/scroll-area.tsx
Due: prettier

fix: Scroll Quiz instead of overflowing
  .pre-commit-config.yaml
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/quiz.tsx
Due: prettier

fix: Only load router devtools in dev
  frontend/src/components/ui/scroll-area.tsx
  frontend/src/routes/__root.tsx
Due: prettier

feat: Add Project auto-loading
  frontend/src/components/project-control.tsx
Due: prettier

feat: Add loading spinner for lesson routes
  frontend/src/routes/lesson/$.tsx
Due: prettier

feat: Add ability to add confetti to page and hide it from menu
  capella_trainer/lesson.py
  frontend/package.json
  frontend/pnpm-lock.yaml
  frontend/src/components/content.tsx
  frontend/src/components/navigation.tsx
  frontend/src/lib/api/v1.d.ts
Due: tsc, prettier

fix: Handle non-project sessions being open
  capella_trainer/constants.py
Due: none

feat: Add button for next lesson to quiz dialog
  frontend/src/components/navigation.tsx
  frontend/src/components/quiz.tsx
Due: prettier

fix: Remove scroll overflow
  frontend/src/components/content.tsx
  frontend/src/components/navigation.tsx
  frontend/src/routes/lesson/$.tsx
Due: prettier

fix: Fix layout in prod
  frontend/src/routes/lesson/$.tsx
Due: prettier

fix: Improve autoload reliability
  Makefile
  capella_trainer/__init__.py
  entrypoint.sh
  frontend/src/components/navigation.tsx
  frontend/src/components/project-control.tsx
  frontend/src/components/quiz.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

fix: Make the progress bar work for multiple roots
  frontend/src/components/navigation.tsx
  frontend/src/components/quiz.tsx
  frontend/src/lib/utils.ts
Due: tsc, prettier

feat: Write logs into standard location
  Dockerfile
  entrypoint.sh
Due: none

chore: Add more logging to project status
  capella_trainer/__init__.py
Due: none

fix: Handle other sessions running during training
  capella_trainer/constants.py
Due: none

Path conditions:
  tsc: any of: \.(ts|mts|cts)$
  prettier: any of: \.(ts|mts|cts)$, \.tsx$, \.css$, \.(html|htm|xhtml)$, \.(md|markdown|mdown)$
